header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

header img
{
    display: flex;
    object-fit: cover;
    width: 5%;
    order: -1;
    margin-right: 10px;
    padding-bottom: 5px;
}

nav
{
    display: flex;
    background-color: lightpink;
    align-items: flex-start;
}

nav ul
{
    display: flex;
    list-style: none;
}

nav li
{
    margin: 0 1rem;
}

nav a
{
    text-decoration: none;
}

main
{
    margin-bottom: 5px;
    margin-top: 5px;
    order: -1;
}

.galeria
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.imagen
{
    border: 1px solid black;
    text-align: center;
}

.galeria img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex-grow: 1;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

aside{
    display: flex;
    width: 40%;
    background-color: slategray;
    align-items: flex-start;
}

aside ul
{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

aside li
{
    margin: 0 1rem;
    font-size: x-large;
}

footer
{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: lightgreen;
    height: 100%;
}

footer p
{
    height: 20px;
    margin: 0;
}